.git
.gitignore
.venv
venv
env
__pycache__
*.pyc

frontend/node_modules
frontend/.next
frontend/out

calibration_input_videos
calibration_input_images_cam1
calibration_input_images_cam2
calibration_output_images_cam1
calibration_output_images_cam2
calibration_compare_stats
multiperson_multithread_multicam
multiperson_multithreaded
multiperson_sequential
quantify_threading

